### C code
useDynLib(expm, .registration = TRUE)

importFrom("Matrix", Schur, norm,# << only these two are really needed
           Matrix)# <- only in  Schur(Matrix(.))

### Exports
export(expm)
export("%^%")
export(dgebal)
export(logm)

## From Michael Stadelmann's (ETH Zurich) Master Thesis : ------------

export(expm.Higham08) ## exported for now; later -> expm(method = ".")
## For now we want the files to be kept modularly separate from the rest of 'expm'
export(expmCond, expmFrechet)

export(logm.Higham08) ## for now: merge into logm() with 'method = "."'
export(sqrtm)
